#acc-info{
    background-color: #8599bc;
}
#word-count{
    background-color: #579183;
}
#der-count{
    background-color: #a1c9bf;
}
#die-count{
    background-color: #a1c9bf;
}
#das-count{
    background-color: #a1c9bf;
}
