<br>

<div class="row">

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="word-count">
			  	<div class="card-header">
			  		<h5 class="card-title">Total words</h5>
			  	</div>
			  	<div class="card-body">
                    <h3 class="card-title"> {{ word_count }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="der-count">
			  	<div class="card-header">
			  		<h5 class="card-title">der count</h5>
			  	</div>
			  	<div class="card-body">
                    <h3 class="card-title"> {{ der_count }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="die-count">
			  	<div class="card-header">
			  		<h5 class="card-title">die count</h5>
			  	</div>
			  	<div class="card-body">
                    <h3 class="card-title"> {{ die_count }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="das-count">
			  	<div class="card-header">
			  		<h5 class="card-title">das count</h5>
			  	</div>
			  	<div class="card-body">
                    <h3 class="card-title"> {{ das_count }} </h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<br>
