{% load static %}

<br>

<div class="row">

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue  mb-3" id="word-count">
			  	<div class="card-header">
                    <h5 class="card-title">Total words: {{ word_count }}</h5>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue  mb-3" id="der-count">
			  	<div class="card-header">
                    <h5 class="card-title">der count: {{ der_count }}</h5>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue  mb-3" id="die-count">
			  	<div class="card-header">
                    <h5 class="card-title">die count: {{ die_count }}</h5>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue  mb-3" id="das-count">
			  	<div class="card-header">
                    <h5 class="card-title">das count: {{ das_count }}</h5>
			  	</div>
			</div>
		</div>
	</div>
</div>
<br>
