{% extends 'templates/base.html' %}

{% block content %}
<br>

{% include 'templates/article_count.html' %}
{% include 'templates/search_vocabulary.html' %}

<br>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Article</th>
      <th scope="col">Word (German)</th>
      <th scope="col">Word (English)</th>
      <th scope="col">Sentence</th>
    </tr>
  </thead>
  <tbody>
      {% for vocabulary in all_vocabularies %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ vocabulary.article }} </td>
            <td> {{ vocabulary.word_de|title }} </td>
            <td> {{ vocabulary.word_en|title }} </td>
            <td> {{ vocabulary.sentence }} </td>
        </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}
