{% extends 'templates/base.html' %}

{% block content %}
<br>

{% include 'templates/article_count.html' %}
{% include 'templates/search_vocabulary.html' %}

<br>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Article</th>
      <th scope="col">Word (German)</th>
      <th scope="col">Word (English)</th>
      <th scope="col">Sentence</th>
    </tr>
  </thead>
  <tbody>
      {% for vocabulary in all_vocabularies %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ vocabulary.article }} </td>
            <td> {{ vocabulary.word_de|title }} </td>
            <td> {{ vocabulary.word_en|title }} </td>
            <td> {{ vocabulary.sentence }} </td>
        </tr>
        {% endfor %}
  </tbody>
</table>
<br>
<div class="pagination">
    <span class="step-links">
        {% if all_vocabularies.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ all_vocabularies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current" >
            Page {{ all_vocabularies.number }} of {{ all_vocabularies.paginator.num_pages }}
        </span>

        {% if all_vocabularies.has_next %}
            <a href="?page={{ all_vocabularies.next_page_number }}">next</a>
            <a href="?page={{ all_vocabularies.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<style>
.pagination .current{
    float : right
}
</style>
{% endblock %}
