{% extends 'templates/base.html' %}

{% block content %}
<br>
<h5>Your word count: {{ data|length }} </h5>
<a href="{% url 'add_vocabularies' user.id %}">Add vocabulary</a>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Article</th>
      <th scope="col">Word (German)</th>
      <th scope="col">Word (English)</th>
      <th scope="col">Sentence</th>
    </tr>
  </thead>
  <tbody>
      {% for vocabulary in data %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ vocabulary.article }} </td>
            <td> {{ vocabulary.word_de|title }} </td>
            <td> {{ vocabulary.word_en|title }} </td>
            <td> {{ vocabulary.sentence }} </td>
            <td><a class="btn btn-sm btn-info" href="{% url 'update_vocabulary' vocabulary.id %}">Update</a></td>
            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_vocabulary' vocabulary.id %}">Delete</a></td>
        </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}
